:root {
  --clr-primary: #1081e8;
  --clr-yellow: #ffc806;
  --clr-grey: #d1d1d1;
  --clr-lightgrey: #f5f6f7;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --ff-primary: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;
}

.hero {
  position: relative;
  background-image: url(./img/hero/img.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}

.hero__text {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
  margin-inline: auto;
  padding-right: 1em;
}

.invitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  gap: 2em;
}

.invitation__image {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.invitation p {
  margin-top: 1rem;
}

.service {
  border: 1px solid blue;
  text-align: center;
  margin: 5rem auto;
}

.service__title {
  border: 1px solid green;
  font-size: 3.5rem;
}

.service__subtitle {
  text-align: center;
  border: 1px solid red;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f6f7;
  margin-top: 3.5em;
  padding-top: 3em;
}

.item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__image {
  height: 48px;
}

.item__text {
  text-align: center;
  width: 85%;
}

.wedding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wedding__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 500px;
  border: 1px solid red;
}

.wedding__image {
  width: 100%;
}

@media (min-width: 640px) {
  .hero {
    height: 40vh;
  }
  .hero p {
    width: 80%;
  }
  .item__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    gap: 1.3em;
  }
  .item__text {
    text-align: left;
  }
}

@media (min-width: 784px) {
  .invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4em;
  }
  .invitation__image {
    width: 100%;
    display: block;
  }
  .invitation__image, .invitation__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .item {
    padding: 3em;
  }
  .item__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    gap: 1.3em;
  }
  .item__text {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */