:root {
  // Color
  --clr-primary: #1081e8;
  --clr-yellow: #ffc806;
  --clr-grey: #d1d1d1;
  --clr-lightgrey: #f5f6f7;
  --clr-white: #ffffff;
  --clr-black: #000000;

  // Font Family
  --ff-primary: 'Inter', sans-serif;
}

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;
}

//MULAI DARI SINI COY
.hero {
  position: relative;
  background-image: url(./img/hero/img.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;

  &__text {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    margin-inline: auto;
    padding-right: 1em;
  }
}

//INVITATION SECTION foto orang ciuman
.invitation {
  display: flex;
  flex-direction: column;
  width: 100%;
  //   border: 1px solid red;
  margin-top: 3rem;
  gap: 2em;

  &__image {
    width: 100%;
    align-self: center;
  }
  p {
    margin-top: 1rem;
  }
}

//SERVICES SECTION GRID
.service {
  border: 1px solid blue;
  text-align: center;
  margin: 5rem auto;
  &__title {
    border: 1px solid green;
    font-size: 3.5rem;
  }
  &__subtitle {
    text-align: center;
    border: 1px solid red;
  }
}

//ITEM GRID disini
.item {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f6f7;
  margin-top: 3.5em;
  padding-top: 3em;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    flex-basis: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 48px;
  }
  &__text {
    // transform: translateY;
    text-align: center;
    width: 85%;
  }
}

// WEDDING SECTION DISINI COYY
.wedding {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  &__card {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 500px;
    border: 1px solid red;
  }
  &__image {
    width: 100%;
  }
}

// ================= MEDIA QUERY 640 =================
// ================= MEDIA QUERY 640 =================
// ================= MEDIA QUERY 640 =================
@media (min-width: 640px) {
  //MEDIA QUERY HERO IMAGE
  .hero {
    height: 40vh;

    p {
      width: 80%;
    }
  }

  .item {
    &__box {
      flex-direction: row;
      flex-basis: 50%;
      gap: 1.3em;
    }
    &__text {
      text-align: left;
    }
  }
} //end media query 640px

// ================= MEDIA QUERY 784 =================
// ================= MEDIA QUERY 784 =================
// ================= MEDIA QUERY 784 =================
@media (min-width: 784px) {
  //MEDIA QUERY INVITATION (02)
  .invitation {
    display: flex;
    flex-direction: row;
    gap: 4em;

    &__image {
      width: 100%;
      display: block;
    }

    &__image,
    &__text {
      flex-basis: 50%;
    }
  }
  //GRID QUERY
  .item {
    padding: 3em;
    &__box {
      flex-direction: row;
      flex-basis: 33%;
      gap: 1.3em;
    }
    &__text {
      text-align: left;
    }
  }
}

//MEDIA QUERY GRID ITEMS (04)
//   .item > * {
//     flex-basis: 50%;
//   }
// }
